# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [426]:
# Import here.
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [427]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [428]:
# Count by hand. (lol kidding)
df_food.size

7625

What are the columns and their types in this data set?

In [429]:
# Show the column names and their types.
# df_food.columns
df_food.dtypes
df_food.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          123 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   99 non-null     object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [430]:
# Remove ‚Äòem.
new_df = df_food.filter(['calories_day', 'weight', 'gender'], axis=1)
new_df.head()

   calories_day                    weight
0           NaN                       187
1           3.0                       155
2           4.0  I'm not answering this.
3           3.0             Not sure, 240
4           2.0                       190

What about `NaN`s? How many are there?

In [431]:
# Count ‚Äòem.
nans = new_df.isna().sum()
nans

calories_day    19
weight           2
dtype: int64

We gotta remove those `NaN`s‚Äïthe entire row.

In [432]:
# Drop ‚Äòem.
new_df = new_df.dropna()

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [433]:
# Fix that.
new_df['weight'] = pd.to_numeric(new_df['weight'], errors='coerce')
new_df

     calories_day  weight
1             3.0   155.0
2             4.0     NaN
3             3.0     NaN
4             2.0   190.0
5             3.0   190.0
..            ...     ...
118           3.0   140.0
119           3.0   185.0
120           4.0   156.0
121           2.0   180.0
123           4.0   135.0

[104 rows x 2 columns]

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [434]:
# Savey save!
new_df= new_df.dropna()
new_df

     calories_day  weight
1             3.0   155.0
4             2.0   190.0
5             3.0   190.0
6             3.0   180.0
7             3.0   137.0
..            ...     ...
118           3.0   140.0
119           3.0   185.0
120           4.0   156.0
121           2.0   180.0
123           4.0   135.0

[101 rows x 2 columns]

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [435]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).

salary_df = pd.read_csv('./data/ask_a_manager_survey.csv', sep='\t')

salary_df

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28057,7/12/2024 22:52:01,35-44,Health care,Veterinarian,NaN,135000,NaN,USD,NaN,NaN,United States,Missouri,Wentzville,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,USA,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28059,7/24/2024 12:22:58,18-24,"Accounting, Banking & Finance",Risk Management Associate,NaN,1200,0.0,USD,NaN,NaN,Myanmar,Colorado,Yangon,2 - 4 years,2 - 4 years,Some college,Man,Asian or Asian American
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American
28061,8/20/2024 1:06:13,25-34,Health care,Clinical physiologist,NaN,1200000,NaN,Other,NGN,NaN,Nigeria,NaN,Lagos,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [436]:
# Count by hand. I‚Äôm dead serious.
salary_df.size

505116

What are the columns and their types?

In [437]:
# Show the column names and their types.
salary_df.dtypes

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [438]:
# Rename ‚Äòem.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race
currCols = ['Timestamp', 'How old are you?', 'What industry do you work in?', 'Job title', 'If your job title needs additional context, please clarify here:', "What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)", 'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.', 'Please indicate the currency', 'If "Other," please indicate the currency here: ', 'If your income needs additional context, please provide it here:', 'What country do you work in?', "If you're in the U.S., what state do you work in?", 'What city do you work in?', 'How many years of professional work experience do you have overall?', 'How many years of professional work experience do you have in your field?', 'What is your highest level of education completed?', 'What is your gender?', 'What is your race? (Choose all that apply.)']
changedCols = ['timestamp', 'age', 'industry', 'title', 'title_context', 'salary', 'additional_compensation', 'currency', 'other_currency', 'salary_context', 'country', 'state', 'city', 'total_yoe', 'field_yoe', 'highest_education_completed'	'gender', 'race']
old_new_map = dict(zip(currCols, changedCols))
salary_df = salary_df.rename(columns=old_new_map)
salary_df

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completedgender,race,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28057,7/12/2024 22:52:01,35-44,Health care,Veterinarian,NaN,135000,NaN,USD,NaN,NaN,United States,Missouri,Wentzville,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,USA,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28059,7/24/2024 12:22:58,18-24,"Accounting, Banking & Finance",Risk Management Associate,NaN,1200,0.0,USD,NaN,NaN,Myanmar,Colorado,Yangon,2 - 4 years,2 - 4 years,Some college,Man,Asian or Asian American
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American
28061,8/20/2024 1:06:13,25-34,Health care,Clinical physiologist,NaN,1200000,NaN,Other,NGN,NaN,Nigeria,NaN,Lagos,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [439]:
# List the unique industries and a count of their instances.
salary_df['industry'].value_counts()

industry
Computing or Tech                          4699
Education (Higher Education)               2464
Nonprofits                                 2419
Health care                                1896
Government and Public Administration       1889
                                           ...
Gaming (Gambling)                             1
Regulatory Affairs- nutraceuticals            1
Manufacturing : corporate admin support       1
Real Estate Investment Support                1
Wine & Spirits                                1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [461]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
tech_df = salary_df[salary_df['industry'] == 'Computing or Tech' ]
tech_df

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completedgender,race,What is your race? (Choose all that apply.)
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28050,7/1/2024 13:38:46,25-34,Computing or Tech,Research & Systems Technician Data Analytics,NaN,22000,NaN,EUR,NaN,NaN,Spain,NaN,Barcelona,2 - 4 years,2 - 4 years,College degree,Man,"Hispanic, Latino, or Spanish origin"
28051,7/1/2024 20:05:58,25-34,Computing or Tech,Junior data analyst,NaN,35000,15000.0,USD,NaN,NaN,Usa,Alabama,Alabama,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American
28052,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000,15000.0,USD,NaN,NaN,Usa,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,USA,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [441]:
# Sanity Check 

tech_df['industry'].value_counts()

industry
Computing or Tech    4699
Name: count, dtype: int64

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [442]:
# Filtery filter for just the jobs that pay in USD!
tech_usd_df = tech_df[tech_df['currency'] == 'USD']
tech_usd_df

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completedgender,race,What is your race? (Choose all that apply.)
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
47,4/27/2021 11:04:09,35-44,Computing or Tech,Product Design Director,NaN,"200,850",40000.0,USD,NaN,NaN,USA,North Carolina,Chapel Hill,11 - 20 years,11 - 20 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28044,6/3/2024 16:15:43,18-24,Computing or Tech,Research Data Analyst Associate,NaN,60000,0.0,USD,NaN,NaN,United States,Illinois,Evanston,2 - 4 years,1 year or less,College degree,Woman,White
28051,7/1/2024 20:05:58,25-34,Computing or Tech,Junior data analyst,NaN,35000,15000.0,USD,NaN,NaN,Usa,Alabama,Alabama,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American
28052,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000,15000.0,USD,NaN,NaN,Usa,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,USA,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [443]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.
tech_usd_df['country'].value_counts()

country
United States               1576
USA                         1222
US                           412
U.S.                         108
United States of America      90
                            ...
Pakistan                       1
Puerto Rico                    1
America                        1
Uniyed states                  1
Burma                          1
Name: count, Length: 76, dtype: int64

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [444]:
# Replacing the country names
tech_usd_df['country'] = tech_usd_df['country'].replace({
    "United States": "US",
    "USA": "US",
    "U.S.": "US",
    "United States of America": "US"
})

C:\Users\afnan\AppData\Local\Temp\ipykernel_18108\2516464307.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tech_usd_df['country'] = tech_usd_df['country'].replace({

Have a look at the count of each unique country again now.

In [445]:
# Count again.
# After replacement
tech_usd_df['country'].value_counts()

country
US                3408
United States       68
Usa                 59
USA                 56
usa                 28
                  ...
Mexico               1
United Stateds       1
ISA                  1
singapore            1
Burma                1
Name: count, Length: 72, dtype: int64

Did you notice anything interesting?

In [446]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.
tech_usd_df['country'] = tech_usd_df['country'].str.lower().str.strip()
# Replacing the country names
tech_usd_df['country'] = tech_usd_df['country'].replace({
    "united states": "us",
    "usa": "us",
    "u.s.": "us",
    "united states of america": "us"
})

C:\Users\afnan\AppData\Local\Temp\ipykernel_18108\469258911.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tech_usd_df['country'] = tech_usd_df['country'].str.lower().str.strip()
C:\Users\afnan\AppData\Local\Temp\ipykernel_18108\469258911.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tech_usd_df['country'] = tech_usd_df['country'].replace({

In [447]:

# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.
tech_usd_df['country'].value_counts()

country
us                         3698
u.s.a.                        7
canada                        5
israel                        5
u.s.a                         3
unitedstates                  2
poland                        2
new zealand                   2
united kingdom                2
united state of america       2
brazil                        2
spain                         2
singapore                     2
u.s                           2
india                         2
denmark                       2
australia                     2
nigeria                       2
unite states                  2
france                        2
unites states                 1
thailand                      1
united stares                 1
china                         1
jamaica                       1
ghana                         1
japan                         1
romania                       1
san francisco                 1
australian                    1
ss                            1
colombia                      1
mexico                        1
netherlands                   1
pakistan                      1
isa                           1
united stateds                1
uruguay                       1
remote (philippines)          1
united stated                 1
international                 1
italy                         1
danmark                       1
cuba                          1
united state                  1
puerto rico                   1
america                       1
uniyed states                 1
burma                         1
Name: count, dtype: int64

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [448]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.
# tech_usd_df['salary'] = tech_usd_df['salary'].str.replace(',','')
# salary_stats_by_state = salary_df.groupby('state')['salary_in_usd'].agg(['min', 'mean', 'max'])
# salary_stats_by_state

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [449]:
# Fix it.
tech_usd_df['salary'] = pd.to_numeric(tech_usd_df['salary'], errors='coerce')
tech_usd_df.dropna(subset=['salary'], inplace=True)

C:\Users\afnan\AppData\Local\Temp\ipykernel_18108\1638328334.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tech_usd_df['salary'] = pd.to_numeric(tech_usd_df['salary'], errors='coerce')
C:\Users\afnan\AppData\Local\Temp\ipykernel_18108\1638328334.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tech_usd_df.dropna(subset=['salary'], inplace=True)

Let‚Äôs try that again.

In [450]:
# Try it again. Yeah!
salary_stats_by_state = tech_usd_df.groupby('state')['salary'].agg(['min', 'mean', 'max'])
salary_stats_by_state

                                     min           mean        max
state
Alabama                          35000.0  117400.000000   350000.0
Arizona                          35000.0   97833.333333   145000.0
Arkansas                             4.0   58001.000000    95000.0
California                           0.0  153286.988827   520000.0
California, Colorado            176000.0  176000.000000   176000.0
California, Maryland             81500.0   81500.000000    81500.0
California, Oregon              200000.0  200000.000000   200000.0
Colorado                         49400.0  109291.891892   165000.0
Connecticut                      68000.0  161610.000000   270000.0
Delaware                        169000.0  169000.000000   169000.0
District of Columbia             59000.0  142923.076923   200000.0
District of Columbia, Virginia  109200.0  109200.000000   109200.0
Florida                          28800.0  210711.000000  2600000.0
Georgia                          29120.0  115297.647059   242000.0
Idaho                            74860.0  105465.000000   170000.0
Illinois                         36000.0  117555.571429   228800.0
Indiana                          15000.0   82875.000000   140000.0
Iowa                             63000.0  101200.000000   142000.0
Kansas                           41500.0  109666.666667   167000.0
Kentucky                         62000.0  102500.000000   125000.0
Louisiana                        75000.0   80500.000000    84000.0
Louisiana, Washington           117000.0  117000.000000   117000.0
Maine                            50000.0  103833.333333   173000.0
Maryland                         62000.0  119955.461538   176000.0
Massachusetts                    41000.0  125899.155844   400000.0
Michigan                         41600.0   95758.823529   235000.0
Michigan, Texas, Washington     340000.0  340000.000000   340000.0
Minnesota                        52124.0  101064.941176   210000.0
Missouri                            80.0   80339.923077   200000.0
Montana                          65000.0  112666.666667   145000.0
Nebraska                         43000.0   76736.000000   140000.0
Nevada                          107100.0  124550.000000   142000.0
New Hampshire                       55.0   87175.833333   130000.0
New Jersey                       67500.0  124090.909091   192000.0
New Jersey, New York            135000.0  137500.000000   140000.0
New Mexico                       82000.0   95733.333333   115200.0
New York                         14000.0  146594.112150   590000.0
North Carolina                   29000.0   97841.666667   165000.0
Ohio                             42000.0  137066.666667   954000.0
Oklahoma                         36958.0   84802.571429   180000.0
Oregon                           16200.0  122640.000000   230000.0
Pennsylvania                     52000.0  116826.388889   237000.0
Rhode Island                     76000.0   99475.000000   122950.0
South Carolina                   40000.0   40000.000000    40000.0
Tennessee                        61500.0   91750.000000   144000.0
Texas                            10700.0  103685.245902   190000.0
Utah                             33280.0  105023.333333   176000.0
Vermont                          91250.0  105625.000000   120000.0
Virginia                         58750.0  115086.696970   378000.0
Washington                          72.0  136923.916667   300000.0
West Virginia                   120000.0  120000.000000   120000.0
Wisconsin                            1.0  145806.888889   920000.0

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [451]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.
tech_usd_df['timestamp'] = pd.to_datetime(tech_usd_df['timestamp'], format = 'mixed', errors='coerce')

tech_dated = tech_usd_df[tech_usd_df['timestamp'].dt.year.isin([2021, 2022,2023])]
tech_dated

C:\Users\afnan\AppData\Local\Temp\ipykernel_18108\355196231.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tech_usd_df['timestamp'] = pd.to_datetime(tech_usd_df['timestamp'], format = 'mixed', errors='coerce')

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completedgender,race,What is your race? (Choose all that apply.)
8999,2021-04-27 17:02:03,35-44,Computing or Tech,Software Development Lead,NaN,1.0,130000.0,USD,NaN,NaN,us,Wisconsin,Madison,8 - 10 years,8 - 10 years,Master's degree,Man,White
11900,2021-04-28 06:41:31,45-54,Computing or Tech,Account Manager,NaN,55.0,12.0,USD,NaN,Base + commission,us,New Hampshire,Manchester,21 - 30 years,8 - 10 years,College degree,Woman,White
15238,2021-04-28 16:45:53,18-24,Computing or Tech,Product Marketer,NaN,0.0,0.0,USD,NaN,Start up without funding. Compensation is in s...,us,California,Santa Clara,1 year or less,1 year or less,College degree,Man,Asian or Asian American
15885,2021-04-28 17:22:37,25-34,Computing or Tech,Chief Data Scientist,NaN,240.0,100.0,USD,NaN,Additional compensation is expected value of o...,us,California,Oakland,5-7 years,5-7 years,PhD,Man,White
18140,2021-04-28 22:49:19,25-34,Computing or Tech,Technical Writer,NaN,72.0,0.0,USD,NaN,NaN,us,Washington,Silverdale,8 - 10 years,2 - 4 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27960,2023-05-09 17:57:30,45-54,Computing or Tech,Junior Data Analyst,NaN,65000.0,0.0,USD,NaN,NaN,us,Virginia,Richmond,21 - 30 years,1 year or less,College degree,Man,White
27961,2023-05-28 16:10:53,45-54,Computing or Tech,Data Analyst,NaN,65000.0,0.0,USD,NaN,NaN,us,New York,Bronx,21 - 30 years,8 - 10 years,College degree,Man,Black or African American
27971,2023-08-08 07:12:10,25-34,Computing or Tech,Data scientist,NaN,500.0,NaN,USD,NaN,NaN,ghana,NaN,Accra,2 - 4 years,2 - 4 years,College degree,Man,Black or African American
27975,2023-09-08 12:35:45,18-24,Computing or Tech,intern,NaN,35000.0,0.0,USD,NaN,NaN,us,Texas,Dallas,1 year or less,1 year or less,Master's degree,Man,Asian or Asian American
27989,2023-10-26 08:17:05,18-24,Computing or Tech,Ibterb,NaN,456.0,NaN,USD,NaN,NaN,nigeria,NaN,Lagos,2 - 4 years,2 - 4 years,College degree,Man,Another option not listed here or prefer not t...

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

In [452]:
usd_df = salary_df[salary_df['currency'] == "USD"]
usd_df

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completedgender,race,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
5,4/27/2021 11:02:46,25-34,Education (Higher Education),Scholarly Publishing Librarian,NaN,"62,000",NaN,USD,NaN,NaN,USA,New Hampshire,Hanover,8 - 10 years,2 - 4 years,Master's degree,Man,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28052,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000,15000.0,USD,NaN,NaN,Usa,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
28057,7/12/2024 22:52:01,35-44,Health care,Veterinarian,NaN,135000,NaN,USD,NaN,NaN,United States,Missouri,Wentzville,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,USA,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28059,7/24/2024 12:22:58,18-24,"Accounting, Banking & Finance",Risk Management Associate,NaN,1200,0.0,USD,NaN,NaN,Myanmar,Colorado,Yangon,2 - 4 years,2 - 4 years,Some college,Man,Asian or Asian American
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American

In [453]:
usd_df['country'] = usd_df['country'].str.lower().str.strip()
usd_df['country'].value_counts()
usd_df

C:\Users\afnan\AppData\Local\Temp\ipykernel_18108\2957188447.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd_df['country'] = usd_df['country'].str.lower().str.strip()

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completedgender,race,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,united states,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,us,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,usa,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,us,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
5,4/27/2021 11:02:46,25-34,Education (Higher Education),Scholarly Publishing Librarian,NaN,"62,000",NaN,USD,NaN,NaN,usa,New Hampshire,Hanover,8 - 10 years,2 - 4 years,Master's degree,Man,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28052,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000,15000.0,USD,NaN,NaN,usa,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
28057,7/12/2024 22:52:01,35-44,Health care,Veterinarian,NaN,135000,NaN,USD,NaN,NaN,united states,Missouri,Wentzville,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,usa,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28059,7/24/2024 12:22:58,18-24,"Accounting, Banking & Finance",Risk Management Associate,NaN,1200,0.0,USD,NaN,NaN,myanmar,Colorado,Yangon,2 - 4 years,2 - 4 years,Some college,Man,Asian or Asian American
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American

In [454]:
usd_df['country'] =usd_df['country'].replace({'united states': 'US',
                'usa': 'US',
                'us' : 'US',
                'u.s.': 'US',
                'united states of america':"US",
                'u.s':'US'})
usd_df['country'].value_counts()
usd_df

C:\Users\afnan\AppData\Local\Temp\ipykernel_18108\3359026401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd_df['country'] =usd_df['country'].replace({'united states': 'US',

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completedgender,race,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,US,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,US,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
5,4/27/2021 11:02:46,25-34,Education (Higher Education),Scholarly Publishing Librarian,NaN,"62,000",NaN,USD,NaN,NaN,US,New Hampshire,Hanover,8 - 10 years,2 - 4 years,Master's degree,Man,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28052,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000,15000.0,USD,NaN,NaN,US,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
28057,7/12/2024 22:52:01,35-44,Health care,Veterinarian,NaN,135000,NaN,USD,NaN,NaN,US,Missouri,Wentzville,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,US,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28059,7/24/2024 12:22:58,18-24,"Accounting, Banking & Finance",Risk Management Associate,NaN,1200,0.0,USD,NaN,NaN,myanmar,Colorado,Yangon,2 - 4 years,2 - 4 years,Some college,Man,Asian or Asian American
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American

In [455]:
usd_df = usd_df[usd_df['country'] == 'US']
usd_df['country'].value_counts()
usd_df

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completedgender,race,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,US,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,US,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
5,4/27/2021 11:02:46,25-34,Education (Higher Education),Scholarly Publishing Librarian,NaN,"62,000",NaN,USD,NaN,NaN,US,New Hampshire,Hanover,8 - 10 years,2 - 4 years,Master's degree,Man,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28044,6/3/2024 16:15:43,18-24,Computing or Tech,Research Data Analyst Associate,NaN,60000,0.0,USD,NaN,NaN,US,Illinois,Evanston,2 - 4 years,1 year or less,College degree,Woman,White
28051,7/1/2024 20:05:58,25-34,Computing or Tech,Junior data analyst,NaN,35000,15000.0,USD,NaN,NaN,US,Alabama,Alabama,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American
28052,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000,15000.0,USD,NaN,NaN,US,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
28057,7/12/2024 22:52:01,35-44,Health care,Veterinarian,NaN,135000,NaN,USD,NaN,NaN,US,Missouri,Wentzville,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,US,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White

In [456]:
usd_df['salary'] = usd_df['salary'].str.replace(',','').str.strip()
usd_df

C:\Users\afnan\AppData\Local\Temp\ipykernel_18108\3586200293.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd_df['salary'] = usd_df['salary'].str.replace(',','').str.strip()

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completedgender,race,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000,0.0,USD,NaN,NaN,US,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000,NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,62000,3000.0,USD,NaN,NaN,US,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,60000,7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
5,4/27/2021 11:02:46,25-34,Education (Higher Education),Scholarly Publishing Librarian,NaN,62000,NaN,USD,NaN,NaN,US,New Hampshire,Hanover,8 - 10 years,2 - 4 years,Master's degree,Man,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28044,6/3/2024 16:15:43,18-24,Computing or Tech,Research Data Analyst Associate,NaN,60000,0.0,USD,NaN,NaN,US,Illinois,Evanston,2 - 4 years,1 year or less,College degree,Woman,White
28051,7/1/2024 20:05:58,25-34,Computing or Tech,Junior data analyst,NaN,35000,15000.0,USD,NaN,NaN,US,Alabama,Alabama,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American
28052,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000,15000.0,USD,NaN,NaN,US,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
28057,7/12/2024 22:52:01,35-44,Health care,Veterinarian,NaN,135000,NaN,USD,NaN,NaN,US,Missouri,Wentzville,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,US,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White

In [457]:
usd_df['salary'] = pd.to_numeric(usd_df['salary'], errors='coerce')
usd_df['salary'].isna().sum()
usd_df.dtypes

C:\Users\afnan\AppData\Local\Temp\ipykernel_18108\1456421178.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd_df['salary'] = pd.to_numeric(usd_df['salary'], errors='coerce')

timestamp                                       object
age                                             object
industry                                        object
title                                           object
title_context                                   object
salary                                           int64
additional_compensation                        float64
currency                                        object
other_currency                                  object
salary_context                                  object
country                                         object
state                                           object
city                                            object
total_yoe                                       object
field_yoe                                       object
highest_education_completedgender               object
race                                            object
What is your race? (Choose all that apply.)     object
dtype: object

In [458]:
usd_df['state'].value_counts()
tripple_m_by_state = usd_df.groupby(by='state')['salary'].agg(['mean','min','max'])
tripple_m_by_state

                                        mean     min      max
state
Alabama                         71296.327586      54   350000
Alabama, California             29120.000000   29120    29120
Alabama, District of Columbia  156000.000000  156000   156000
Alabama, Kansas                 64197.000000   64197    64197
Alabama, Minnesota, Nevada     130000.000000  130000   130000
...                                      ...     ...      ...
Virginia                        94753.340617      57  1300000
Washington                     107158.670929      72  1260000
West Virginia                   58664.170732       0   125000
Wisconsin                       76582.185745       1   920000
Wyoming                         58896.652174   29000   140000

[129 rows x 3 columns]

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

In [ ]:
styled_df = usd_df.style.format({'salary': "${:,.2f}"})

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

In [465]:
singles_only = usd_df[~usd_df['state'].str.contains(',', na =False)]
singles_only['state'].value_counts()

state
California              2576
New York                2160
Massachusetts           1505
Texas                   1249
Illinois                1201
Washington              1173
District of Columbia     967
Pennsylvania             937
Virginia                 778
Minnesota                711
Ohio                     647
Colorado                 627
Oregon                   617
North Carolina           597
Maryland                 558
Michigan                 538
Georgia                  533
Florida                  517
Wisconsin                463
New Jersey               392
Missouri                 336
Indiana                  327
Arizona                  299
Tennessee                279
Connecticut              234
Utah                     204
Kentucky                 190
Iowa                     178
Kansas                   152
South Carolina           144
Louisiana                128
Maine                    125
New Hampshire            117
Alabama                  116
Oklahoma                 113
Nebraska                 106
New Mexico                98
Idaho                     96
Nevada                    92
Rhode Island              76
Arkansas                  69
Vermont                   65
Montana                   63
Alaska                    63
Mississippi               49
Delaware                  46
West Virginia             41
North Dakota              35
Hawaii                    30
South Dakota              24
Wyoming                   23
Name: count, dtype: int64

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)